/* MAIN BODY */
.video-container{
    display: grid;
    column-gap: 8px;
    row-gap: 16px;
    position: relative;
    left: 70px;
    top: 75px;
    padding: 20px;
    border: solid 3px red;
}
.video-card{
    max-width: 300px;
    border: black;
    display: inline-block; 
    vertical-align: top;
    padding: 4px; 
    margin-left: 15px; 
}
.thumbnail{
    width: 300px;
    /*     object-fit: contain; object-fit:cover; /*This chooses what to do in case the w and h has been meet
    object-position: left; shows which part of the image to display if to big */
    display: block;
    object-fit:contain;
    border-radius: 10px;
}
.tumbnail-img-container{
    position: relative;
}
.time{
    position: absolute;
    background-color: black;
    color: white;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 2px;
    bottom: 7px; 
    right: 4px;
}
.description{
    margin: 20px 0px;
    display: grid;
    grid-template-columns: 50px 1fr;
}
.creator-pic{
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
}
.actual-text{
    display: inline-block;
    width: 225px;
    vertical-align: top;
}
.actual-text p {
    margin-top: 0px;
    margin-left: 10px;
}
.profile{
    display: inline-block;
    width: 50px;
    border-radius: 100px ;
}
.title{
    font-weight: 500;
    line-height: 14px;
    margin-bottom: 12px;
}
.maker, .view{
    font-size: 12px;
    color: rgb(96,96,96);
}
.maker{
    margin-bottom: 4px;
}

