/* body styling for all! */
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* Container 1 Adjustments - Horizontal */
header{
    display: inline; 
}
header img{
    width: 30px;
    padding: 12px;
}
#youtube{
    max-width: 100px;
}
/* Container 2 Adjustments - Horizontal */
/* Side Menu Container */
.side_menu_container {
    width: 70px;
    text-align: center;
    position:relative; 
    background-color: rgb(0, 255, 106);
    padding: 20px;
}
.icon_img{
    cursor: pointer;
}

/* Video Main Containers */
main{
    display: inline-block;
}
.video_container{
    display: inline-block;
}
.side_menu_container{ 
    display: inline-block;
 }
/* main video box */
.video_card{
    max-width: 300px;
    border: black;
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
}
.thumbnail{
    width: 300px;
    /*     object-fit: contain; object-fit:cover; /*This chooses what to do in case the w and h has been meet
    object-position: left; shows which part of the image to display if to big */
    display: block;
    object-fit:contain;
}
.description{
    margin: 20px 0px;
}
.creator_pic{
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
}
.actual_text{
    display: inline-block;
    width: 225px;
    vertical-align: top;
}
.actual_text p {
    margin-top: 5px;
    margin-left: 10px;
}
.profile{
    display: inline-block;
    width: 50px;
    border-radius: 100px ;
}