/* GENERAL RULES */
body{
    margin: 0; 
    height: 600px;
}
/* HEADER */
.header {
    height: 70px; 
    position: fixed;
    top: 0px; 
    left:0px;
    right:0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid rgba(210, 210, 210, 0.524);
}
/* LEFT SECTION */
.left-section{
    display: flex;
    align-items: center; 
}
.menu{
    height: 25px;
    margin-left: 24px;
    margin-right: 24px; 
}
.youtube{
    height: 20px;
}
/* MIDDLE SECTION */
.center-section{
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px; /* max space*/
}
.search-bar{
    flex:1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border: solid  rgb(192,192,192) 1px;
    border-radius: 3px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05); 
    width: 0; /*makes it shrink*/
}
.search-bar::placeholder{
    font-family: Roboto, Arial;
    font-size: 16px; 
}
.search-btn{
    height: 40px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border: solid   rgb(192,192,192) 1px;
    margin-left: -1px; /* This pulls the elements together.*/
    margin-right: 10px;
}
.search-img{
    height: 25px;
    margin-top: 4px;
}
.mic-btn{
    height: 40px;
    width: 40px;
    border: none;
    background-color:  rgb(245,245,245);
    border-radius: 20px;
}
.mic-img{
    height: 25px;
    margin-top: 4px;
}
/* RIGHT SECTION */
.right-section{
    margin-right: 20px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0; /* It makes this not shrink*/
}
.upload-img, .app-img, .notifications-img{
    height: 24px;
}
.profile-img{
    height: 32px;
    border-radius: 16px;
}
/* SIDE BAR */
.side_menu_container{
    width: 75px;
    background-color: white;
    position: fixed;
    top: 70px;
    bottom: 0px;
    left: 0px;
    padding-top: 5px;
}
.icon_container{
    font-size: 10px;
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.icon{
    height: 20px;
}
/* MAIN BODY */
.video_container{
    position: fixed;
    left: 70px;
    top: 75px;
}
.video_card{
    max-width: 300px;
    border: black;
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
}
.thumbnail{
    width: 300px;
    /*     object-fit: contain; object-fit:cover; /*This chooses what to do in case the w and h has been meet
    object-position: left; shows which part of the image to display if to big */
    display: block;
    object-fit:contain;
}
.description{
    margin: 20px 0px;
    display: grid;
    grid-template-columns: 50px 1fr;
}
.creator_pic{
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
}
.actual_text{
    display: inline-block;
    width: 225px;
    vertical-align: top;
}
.actual_text p {
    margin-top: 0px;
    margin-left: 10px;
}
.profile{
    display: inline-block;
    width: 50px;
    border-radius: 100px ;
}
.title{
    font-weight: 500;
    line-height: 14px;
    margin-bottom: 12px;
}
.maker, .view{
    font-size: 12px;
    color: rgb(96,96,96);
}
.maker{
    margin-bottom: 4px;
}

