/* SIDE BAR */
.side-menu-container{
    width: 75px;
    background-color: white;
    position: fixed;
    top: 60px;
    bottom: 0px;
    left: 0px;
    padding-top: 5px;
}
.icon-container{
    font-size: 10px;
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.icon{
    height: 20px;
}